.colsm12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .colmd6 {
    flex: 0 0 auto;
    width: 50%;
  }
   .collg6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .colx6 {
    flex: 0 0 auto;
    width: 50%;
  }
.about {
    background: linear-gradient(360deg,#fff,#ddd,#ddd,#fff);
    box-shadow: #ddd 0px 0px 13px 15px;
    margin: 90px 30px 20px 30px;     
}
.about .about-box {
text-align: left;
float: right;
width: 100%;
max-width: 539px;
padding: 40px 0;
}
.about .about-box h2 {
    font-weight: bold;
    color: #fff;
    line-height: 40px;
    font-size: 45px;
    text-transform:uppercase;
    background: #78be21;
    display: inline-block;
    padding: 20px 30px;

}
.about .about-box p {
    font-size: 17px;
    line-height: 28px;
    color: #000;
    padding: 40px 0px;
    text-indent:  18px;
}

.about .about-box a {
font-size: 19px;
border: lightgray solid 3px;
background-color: #78be21;
color: #fff;
padding: 10px 0px;
max-width: 171px;
width: 100%;
display: inline-block;
text-align: center;
text-transform: uppercase;
border-radius: 30px;
text-decoration: none;
transition: 1s all;
}


.about .about-box a:hover{ 
  transition: 1s all;
    opacity: .5;
    border: #428713 solid 3px;
    color: #fff;
}
.about .about-box_img figure {
    margin: 0;
}
.about .about-box_img figure img {
   width: 100%;
   height: 100%;
   padding-top: 45px;
}
.padding_rl {
    padding: 0;
}