.disclaimer {
    z-index: 100;
    position: fixed;
    min-height: 140px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 50px;
    background-color: rgba(0, 0, 0, 0.884);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 300;
}
.disclaimer-text {
    width: 90%;
    font-size: 15px;
    text-align: center;
}
.button {
    margin-top: 5px;
	text-transform: uppercase;
    min-width: 150px;
	border-radius: 40px;
    font-size: 22px;
	padding:7px 85px;
	position: relative;
	overflow: hidden;
	font-weight: 700;
    border: rgb(184, 214, 172) solid 3px;
    background-color: #78be21;
    color: #fff;
    transition: .1s all;
}
.button span {
	position: relative;
}
.button-black:hover{ 
    transition: .1s all;
    opacity: .5;
    border: #c5e2b2 solid 3px;
    color: #fff;
}

